.mini-menu{
  background-color: #EBF2FA;
  padding:25px;
  display-model: flex;
}
.mat-toolbar {
  margin: 0;
  padding: 25px;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #EBF2FA;
}

body a{
  padding: 5px 12px;
  text-decoration: none;
  font-weight: bold;
  color: black;
  background-color: rgb(252, 252, 252);
  margin: 5px;
  width: 120px;

}

h2{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 720px) {

}

