<header>
  <div class="logo">
    <img src="https://i.ibb.co/gPTWM7q/logorentstate.png" alt="">
  </div>
  <div class = "container">
    <nav>
      <div class="nav-icons">
        <button class="publish" mat-flat-button color="primary">Publicar</button>
      </div>
      <div class="nav-icons">
        <button class="icons" mat-fab color="basic" aria-label="Home">
          <mat-icon class="icons-size">home</mat-icon>
        </button>
      </div>
      <div class="nav-icons">
        <button class="icons" mat-fab color="basic" aria-label="Notifications">
          <mat-icon class="icons-size">notifications</mat-icon>
        </button>
      </div>
      <div class="nav-icons">
        <button class="icons" mat-fab color="basic" aria-label="Profile">
          <mat-icon class="icons-size">person</mat-icon>
        </button>
      </div>
    </nav>
  </div>
</header>

