<header>
  <div class="logo">
    <img src="https://i.ibb.co/gPTWM7q/logorentstate.png" alt="">
  </div>
  <div class = "container">
    <nav>
      <button class="publish" mat-flat-button color="primary">Publicar</button>
      <button class="icons" mat-fab color="basic" aria-label="Home">
        <mat-icon>home</mat-icon>
      </button>
      <button class="icons" mat-fab color="basic" aria-label="Notifications">
        <mat-icon>notifications</mat-icon>
      </button>
      <button class="icons" mat-fab color="basic" aria-label="Profile">
        <mat-icon>person</mat-icon>
      </button>
    </nav>
  </div>
</header>

