<body style="height: 100%;">
  <app-header-lessor/>
  <div>
    <mat-card style="display: flex;flex-direction: row;padding-bottom: 120px;">
      <img style="width: 500px; height: 500px; padding-left: 50px; padding-top:
       25px;" mat-card-avatar src="assets/img/profile-lessor.png">
      <div style="flex-flow: column;padding-left: 50px;">
        <mat-card-title>Personal Information</mat-card-title>
        <mat-icon style="margin:0;">maximize</mat-icon>
        <div style="padding-left: 100px;">
          <div style="padding-bottom: 10px;">
            <form class="mat-form-field">
              <div class="input-group no border">
                <h4>Name</h4>
                <input style="width: 400px; height: 50px; border-radius: 10px;"
                       type="text"
                       class="mat-form-field-autofill-control"
                       placeholder="">
              </div>
            </form>
          </div>
          <div style="padding-bottom: 10px;">
            <form class="mat-form-field">
              <div class="input-group no border">
                <h4>Last Name</h4>
                <input style="width: 400px; height: 50px; border-radius: 10px;"
                       type="text"
                       class="mat-form-field-autofill-control"
                       placeholder="">
              </div>
            </form>
          </div>
          <div style="padding-bottom: 10px;">
            <form class="mat-form-field">
              <div class="input-group no border">
                <h4>E-mail</h4>
                <input style="width: 400px; height: 50px; border-radius: 10px;"
                       type="text"
                       class="mat-form-field-autofill-control"
                       placeholder="">
              </div>
            </form>
          </div>
          <div style="padding: 15px 0px 0px 275px;">
            <button style="border-radius: 25px; height: 40px; width: 125px; font-style: normal;"
                    type="button">
              Save Changes
            </button>
          </div>
        </div>
        <mat-card-title>Change Password</mat-card-title>
        <mat-icon style="margin:0;">maximize</mat-icon>
        <div style="display:flex; flex-direction: row;">
          <div style="padding-bottom: 10px; padding-right: 50px;">
            <form class="mat-form-field">
              <div class="input-group no border">
                <h4>New Password</h4>
                <input style="width: 400px; height: 50px; border-radius: 10px;"
                       type="text"
                       class="mat-form-field-autofill-control"
                       placeholder="">
              </div>
            </form>
          </div>
          <div style="padding-bottom: 10px; flex-flow: column;">
            <form class="mat-form-field">
              <div class="input-group no border">
                <h4>Repeat Password</h4>
                <input style="width: 400px; height: 50px; border-radius: 10px;"
                       type="text"
                       class="mat-form-field-autofill-control"
                       placeholder="">
              </div>
            </form>
          </div>
        </div>
        <div>
          <div style="padding: 15px 0px 0px 375px;">
            <button style="border-radius: 25px; height: 40px; width: 125px; font-style: normal;"
                    type="button">
              Save Changes
            </button>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
  <div>

  </div>
  <app-footer/>
</body>
