
<body>

  <app-header-profile></app-header-profile>
  <section class="info">
    <div class="perfil">
      <div class="container">
        <div class="foto">
          <img src="../assets/images/teresa.jpg">
          <h3>Teresa Lisbone</h3>
        </div>
      </div>
    </div>
    <div class="datos">
      <div class="container">
        <h4>Name</h4>
        <h5>Teresa</h5>
        <h4>Last Name</h4>
        <h5>Lisbon</h5>
        <h4>E-mail</h4>
        <h5>Lisbon@gmail.com</h5>
      </div>
    </div>
  </section>

  <div class="actions">
    <div class="container">
      <button>Mis Publicaciones</button>
      <button routerLink="/edit-profile">Editar Perfil</button>
      <button>Chats</button>
    </div>
  </div>

    <div class="calificacion">
      <h4>Tu calificacion</h4>
      <div class="stars">
        <span class="star filled"></span>
        <span class="star filled"></span>
        <span class="star filled"></span>
        <span class="star"></span>
        <span class="star"></span>
      </div>
    </div>

</body>
