<header class="mini-menu">
  <div style="padding-left: 50px;">
    <button style=" border-radius: 15px;" class="buttons" color="primary" mat-flat-button>
      <span>My tenants</span>
      <mat-icon iconPositionEnd>expand_more</mat-icon>
    </button>
  </div>
  <div style="padding-left: 50px;">
    <button style=" border-radius: 15px;" color="primary" mat-flat-button >
      <span>My properties</span>
      <mat-icon iconPositionEnd>expand_more</mat-icon>
    </button>
  </div>
  <div style="padding-left: 50px;">
    <button class="buttons" style=" border-radius: 15px;" color="primary" mat-flat-button >
      <span>Advertisement</span>
      <mat-icon iconPositionEnd>expand_more</mat-icon>
    </button>
  </div>
  <div style="padding-left: 50px;">
    <form class="mat-form-field">
      <div class="input-group no border">
        <input style="; width: 400px; height: 30px;"
               type="text"
               class="mat-form-field-autofill-control"
               placeholder="Search">
        <button style="height: 30px;" mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
          <mat-icon>search</mat-icon>
          <div class="mat-form-field-ripple"></div>
        </button>
      </div>
    </form>
  </div>
</header>

